// Variables
$website-width: 1280px;
$main-color: #8622d9;
$secondary-color: #0bebfc;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$faq-color: #101010;
$border-color: rgba(0, 0, 0, 0.3);
